command = boolean : _list_com and _display_com
_embed = matchany : integer_greater : _image_emb : answer=0
embed = boolean : _embed_com and _embed
_extract = matchany : integer_greater : _file_ext : answer=0
extract = boolean : _extract_com and _extract
_image_attack = matchany : integer_greater : _image_atk : answer=0
_file_ext_attack = matchany : integer_greater : _file_ext_atk : answer=0
attack = boolean : _attack_com and _image_attack and _file_ext_attack
