command = boolean : _list and _display
_embed1 = matchany : integer_greater : _stegoimg : answer=0
_embed2 = matchany : integer_greater : _keyembed : answer=0
embed = boolean : _embed and _embed1 and _embed2
_logo_reco = matchany : integer_greater : _logo_recovered : answer=0
extract1 = boolean : _extract and _logo_reco
_attack1 = matchany : integer_greater : _attackimg1 : answer=0
_attack2 = matchany : integer_greater : _attackimg2 : answer=0
_attack3 = matchany : integer_greater : _attackimg3 : answer=0
attack = boolean : _attack and _attack1 and _attack2 and _attack3
_rotated = matchany : integer_greater : _logo_rot : answer=0
_cropped = matchany : integer_greater : _logo_crop : answer=0
_scaled = matchany : integer_greater : _logo_scale : answer=0
extract2 = boolean : _extract and _rotated and _cropped and _scaled
_img_stego_a001 = matchany : integer_greater : _img_a001 : answer=0
_img_stego_a005 = matchany : integer_greater : _img_a005 : answer=0
_img_stego_a05 = matchany : integer_greater : _img_a05 : answer=0
_img_stego_a1 = matchany : integer_greater : _img_a1 : answer=0
compare = boolean : _img_stego_a001 and _img_stego_a005 and _img_stego_a05 and _img_stego_a1
