command = boolean : _list and _display and _embed and _extract and _attack
_embed1 = matchany : integer_greater : _stegoimg : answer=0
_embed2 = matchany : integer_greater : _keyembed : answer=0
embed = boolean : _embed1 and _embed2
extract1 = matchany : integer_greater : _logo_recovered : answer=0
_attack1 = matchany : integer_greater : _attackimg1 : answer=0
_attack2 = matchany : integer_greater : _attackimg2 : answer=0
attack = boolean : _attack1 and _attack2
_saltandpepper = matchany : integer_greater : _logo_salt : answer=0
_gaussian = matchany : integer_greater : _logo_gau : answer=0
extract2 = boolean : _saltandpepper and _gaussian
_img_stego_a001 = matchany : integer_greater : _alpha001 : answer=0
_img_stego_a005 = matchany : integer_greater : _alpha005 : answer=0
_img_stego_a05 = matchany : integer_greater : _alpha05 : answer=0
_img_stego_a1 = matchany : integer_greater : _alpha1 : answer=0
compare = boolean : _img_stego_a001 and _img_stego_a005 and _img_stego_a05 and _img_stego_a1
